@import 'bootstrap';
@import 'message';

@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700);

$color-red-light : #e74c3c;
$color-white : #fafafa;
$color-midnightblue: #2c3e50;
$color-emerald-green: #2ecc71;
$color-black: #3A3A3A;

$banner-size-height: 80px;


html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: $color-white;
    color: $color-black;
    font-size: 16px;
    font-family: 'Droid Sans', sans-serif;
}
.soheavy{
    font-weight: bold;
}

.centeredText{
    text-align: center;
}
.greentext{
    color: $color-emerald-green;
    margin: 40px 40px 20px 40px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background-color: $color-red-light;
    border-radius: 8px 8px 0 0;
    color: $color-white;
    font-weight: bold;
}

.margintop{
    margin-top: 1em;
}

#header{
    height: $banner-size-height;
    background-color: $color-midnightblue;
    color: $color-white;
    font-size: 1em;
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    form{
        margin-left: 20px;
        input{
            color: #000;
        }
    }
}

.goed{
    background-color: $color-emerald-green;
}

.fout{
    background-color: $color-red-light;
}

.margintopheavy{
    margin-top: 30px;
}